extends base.pug

- load i18n

block content
  .panel.panel-default
    .panel-body
      .table-responsive
        table.table.table-condensed.table-striped
          thead
            tr
              th {% trans 'title'|capfirst %}
              th {% trans 'thumbnail'|capfirst %}
              th {% trans 'price'|capfirst %}
              th {% trans 'stock'|capfirst %}
              th {% trans 'product description'|capfirst %}
              th {% trans 'upc'|capfirst %}
              th {% trans 'delete'|capfirst %}
          tbody
            for book in object_list
              tr
                td: a(href="{% url 'book_detail' book.id %}")
                  | {{book.title}} 
                td: a(href="{{book.thumbnail}}")
                  | {% trans 'external link' %}
                td
                  {{book.price}}
                td
                  {{book.stock}}
                td
                  {{book.product_description|truncatechars:30}}
                td
                  {{book.upc}}
                td
                  a(href="{% url 'book_delete' book.id %}") 
                    i.fa.fa-times

      {% include 'includes/pagination.pug' %}
